<h2>Welcome {{username}}</h2>

<div *ngIf="superadmin">
  <h4>Add Group:</h4>
  <form (submit)="createRoom($event)">
    Enter Room name:&nbsp;
    <input type="email" placeholder="Group name" [(ngModel)]='newRoomname' name="newRoomname" id="newRoomname" required />
    <button type="submit">Submit</button>
  </form>
</div>
<div *ngIf="superadmin">
  <h4>Add channel:</h4>
  <form (submit)="createChannel($event)">
    Choose group:&nbsp;
    <select [(ngModel)]="selectedGroupForChannel" name="selectedGroupForChannel" id="selectedGroupForChannel" required>
        <option *ngFor="let selectedGroupForChannel of roomArr" [value]="selectedGroupForChannel">{{selectedGroupForChannel}}</option>
    </select>
    Add channel:&nbsp;
    <input type="email" placeholder="Channel name" [(ngModel)]='newChannelname' name="newChannelname" id="newChannelname" required />
    <button type="submit">Submit</button>
  </form>
</div>
<div *ngIf="superadmin">
  <h4>Add user to group:</h4>
  <form (submit)="addUserToRoom($event)">
    Choose group:&nbsp;
    <select [(ngModel)]="selectedRoom" name="selectedRoom" id="selectedRoom" required>
      <option *ngFor="let selectedRoom of roomArr" [value]="selectedRoom">{{selectedRoom}}</option>
    </select>
    Add user:&nbsp;
    <select [(ngModel)]="selectedUser" name="selectedUser" id="selectedUser" required>
      <option *ngFor="let selectedUser of userArr" [value]="selectedUser">{{selectedUser}}</option>
    </select>
    <button type="submit">Add</button>
  </form>
</div>
<div *ngIf="superadmin">
    <h4>Add user to channel:</h4>
    <form (submit)="addUserToChannel($event)">
        Choose group of channel:&nbsp;
      <select [(ngModel)]="selectedChannel" name="selectedChannel" id="selectedChannel" required>
        <option *ngFor="let selectedChannel of channelgroupArr" [value]="[selectedChannel.room, selectedChannel.channel]">{{selectedChannel.name}}</option>
      </select>
      Add user:&nbsp;
      <select [(ngModel)]="selectedUserForChannel" name="selectedUserForChannel" id="selectedUserForChannel" required>
        <option *ngFor="let selectedUserForChannel of userArr" [value]="selectedUserForChannel">{{selectedUserForChannel}}</option>
      </select>
      <button type="submit">Add</button>
    </form>
  </div>
    <div *ngIf="superadmin">
      <h4>Delete group:</h4>
      <form (submit)="deleteRoom($event)">
          Group:
          <select [(ngModel)]="selectedGroupForDelete" name="selectedGroupForDelete" id="selectedGroupForDelete" required>
            <option *ngFor="let selectedGroupForDelete of roomArr" [value]="selectedGroupForDelete">{{selectedGroupForDelete}}</option>
          </select>
          <button type="submit">Delete</button>
        </form>
    </div>
    <div *ngIf="superadmin">
        <h4>Delete Channel</h4>
        <form (submit)="deleteChannel($event)">
            Channel
            <select [(ngModel)]="selectedChannelForDelete" name="selectedChannelForDelete" id="selectedChannelForDelete" required>
              <option *ngFor="let selectedChannelForDelete of channelgroupArr" [value]="[selectedChannelForDelete.room, selectedChannelForDelete.channel]">{{selectedChannelForDelete.name}}</option>
            </select>
            <button type="submit">Delete</button>
          </form>
      </div>

    <div *ngIf="groupadmin">
        <h4>Add Group:</h4>
        <form (submit)="createRoom($event)">
          Enter Room name:&nbsp;
          <input type="email" placeholder="Group name" [(ngModel)]='newRoomname' name="newRoomname" id="newRoomname" required />
          <button type="submit">Submit</button>
        </form>
      </div>
      <div *ngIf="groupadmin">
        <h4>Add channel:</h4>
        <form (submit)="createChannel($event)">
          Choose group:&nbsp;
          <select [(ngModel)]="selectedGroupForChannel" name="selectedGroupForChannel" id="selectedGroupForChannel" required>
              <option *ngFor="let selectedGroupForChannel of roomArr" [value]="selectedGroupForChannel">{{selectedGroupForChannel}}</option>
          </select>
          Add channel:&nbsp;
          <input type="email" placeholder="Channel name" [(ngModel)]='newChannelname' name="newChannelname" id="newChannelname" required />
          <button type="submit">Submit</button>
        </form>
      </div>
      <div *ngIf="groupadmin">
        <h4>Add user to group:</h4>
        <form (submit)="addUserToRoom($event)">
          Choose group:&nbsp;
          <select [(ngModel)]="selectedRoom" name="selectedRoom" id="selectedRoom" required>
            <option *ngFor="let selectedRoom of roomArr" [value]="selectedRoom">{{selectedRoom}}</option>
          </select>
          Add user:&nbsp;
          <select [(ngModel)]="selectedUser" name="selectedUser" id="selectedUser" required>
            <option *ngFor="let selectedUser of userArr" [value]="selectedUser">{{selectedUser}}</option>
          </select>
          <button type="submit">Add</button>
        </form>
      </div>
      <div *ngIf="groupadmin">
          <h4>Add user to channel:</h4>
          <form (submit)="addUserToChannel($event)">
              Choose group of channel:&nbsp;
            <select [(ngModel)]="selectedChannel" name="selectedChannel" id="selectedChannel" required>
              <option *ngFor="let selectedChannel of channelgroupArr" [value]="[selectedChannel.room, selectedChannel.channel]">{{selectedChannel.name}}</option>
            </select>
            Add user:&nbsp;
            <select [(ngModel)]="selectedUserForChannel" name="selectedUserForChannel" id="selectedUserForChannel" required>
              <option *ngFor="let selectedUserForChannel of userArr" [value]="selectedUserForChannel">{{selectedUserForChannel}}</option>
            </select>
            <button type="submit">Add</button>
          </form>
        </div>
          <div *ngIf="groupadmin">
            <h4>Delete group:</h4>
            <form (submit)="deleteRoom($event)">
                Group:
                <select [(ngModel)]="selectedGroupForDelete" name="selectedGroupForDelete" id="selectedGroupForDelete" required>
                  <option *ngFor="let selectedGroupForDelete of roomArr" [value]="selectedGroupForDelete">{{selectedGroupForDelete}}</option>
                </select>
                <button type="submit">Delete</button>
              </form>
          </div>
          <div *ngIf="groupadmin">
              <h4>Delete Channel</h4>
              <form (submit)="deleteChannel($event)">
                  Channel
                  <select [(ngModel)]="selectedChannelForDelete" name="selectedChannelForDelete" id="selectedChannelForDelete" required>
                    <option *ngFor="let selectedChannelForDelete of channelgroupArr" [value]="[selectedChannelForDelete.room, selectedChannelForDelete.channel]">{{selectedChannelForDelete.name}}</option>
                  </select>
                  <button type="submit">Delete</button>
                </form>
            </div>



<br>
<h3>Chat Room: name</h3>
<div class="users">
    <div *ngFor="let user of users" class="users">
      {{user}}
    </div>
</div>
<br>
<h4>Chat record:</h4>
<div class="messages">
  <div *ngFor="let message of messages" class="message">
    {{message.text}}
  </div>
</div>
<br>
<input [(ngModel)]="message" />
<button (click) = "sendMessage()">Send</button>
