<h2>Welcome {{username}}</h2>
<p>Role: {{role}}</p>


<div *ngIf="admin">
  Create a New User
  <form (submit)="createUser($event)">
    <input type="email" placeholder="Username" [(ngModel)]='newUsername' name="newUsername" id="newUsername" required />
    <input type="email" placeholder="Email" [(ngModel)]='newEmail' name="newEmail" id="newEmail" required />
    <select [(ngModel)]="newRole" name="newRole" id="newRole" required>
      <option *ngFor="let newRole of availableRoles" [value]="newRole">{{newRole}}</option>
    </select>
    <button type="submit">Submit</button>
  </form>
</div>
  