<h2>Account Detail:</h2>
<h3>Username: {{username}}</h3>
<h3>Role: {{role}}</h3>
<br>

<div *ngIf="groupadmin">
  <div class="flip"><span class="1">Create account</span></div>
  <div class="panel">
  <div *ngIf="groupadmin">
    <h4>Manage User:</h4>
    <form (submit)="createUser($event)">
      Enter Username:&nbsp;
      <input type="email" placeholder="Username" [(ngModel)]='newUsername' name="newUsername" id="newUsername" required />
      <br>
      Enter Email as password:&nbsp;
      <input type="email" placeholder="Email" [(ngModel)]='newEmail' name="newEmail" id="newEmail" required />
      <br>
      Enter Role for change:&nbsp;
      <select [(ngModel)]="newRole" name="newRole" id="newRole" required>
        <option *ngFor="let newRole of availableRoles" [value]="newRole">{{newRole}}</option>
      </select>
      <br>
      <button type="submit">Submit</button>
    </form>
  </div>
  </div>
</div>


<div *ngIf="superadmin">
  <div class="flip"><span class="1">Create account</span></div>
  <div class="panel">
  <div *ngIf="superadmin">
    <h4>Manage User:</h4>
    <form (submit)="createUser($event)">
      Enter Username:&nbsp;
      <input type="email" placeholder="Username" [(ngModel)]='newUsername' name="newUsername" id="newUsername" required />
      <br>
      Enter Email:&nbsp;
      <input type="email" placeholder="Email" [(ngModel)]='newEmail' name="newEmail" id="newEmail" required />
      <br>
      Enter Role for change/delete:&nbsp;
      <select [(ngModel)]="newRole" name="newRole" id="newRole" required>
        <option *ngFor="let newRole of availableRolesSP" [value]="newRole">{{newRole}}</option>
      </select>
      <br>
      <button type="submit">Submit</button>
    </form>
  </div>
  </div>
</div>